:root {
	--white: #F8FFE5;
	--light-green: #06D6A0;
	--dark-green: #1B9AAA;
	--red: #EF476F;
	--yellow: #FFC43D;
}

body {
	margin: 0;
background: linear-gradient(to bottom right, var(--light-green), var(--white));
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: var(--white);
	background-size: auto;
}

img {
  max-width: 100%;
}

header h1 {
	text-align: center;
	align-self: center;
	font-family: 'Varela Round', sans-serif;
	color: var(--white);
}

header h3 {
	margin: 0;
}

header .moves {
	display: flex;
	justify-content: center;
	padding: 0 3em;
	margin: 0;
}

header .moves .stars {
	align-content: 
}

.moves .icon-color {
	color: var(--white);
}

.card-container {
	padding: 1em;
}

.card-container .row {
	display: flex;
	flex-direction: flex-start;
	flex-wrap: nowrap;
	justify-content: center;
}

.card {
	background-color: var(--light-green);
	border: 2px solid var(--dark-green);
	min-width: 48px;
	min-height: 48px;;
	margin: 1em;
	border-radius: 10px;
}

.row > .card {
	flex: 1 1 25%;
	height: 100%;
}

.card:hover {
	background-color: var(--dark-green);
	border: 2px solid var(--yellow);
	transition: .5s ease;
}

@media screen and (min-width: 412px) {
  

}

@media screen and (min-width: 768px) {
  .card {
  	min-height: 96px;
  	min-width: 96px;
  }
}

@media screen and (min-width: 1000px) {
	.card {
		min-width: 144px;
		min-height: 144px;
	}
}