body {
	margin: 0;
background: linear-gradient(to bottom right, red , lightgrey);
	height: 100vh;
}

img {
  max-width: 100%;
}

header h1 {
	text-align: center;
	align-self: center;
}

header h3 {
	margin: 0;
}

header .moves {
	display: flex;
	justify-content: space-between;
	padding: 0 3em;
	margin: 0;
}

.card-container {
	padding: 1em;
}

.card-container .row {
	display: flex;
	flex-direction: flex-start;
	flex-wrap: nowrap;
	flex: 1 1 350px;
	justify-content: center;
}

.card {
	background-color: blue;
	width: 75px;
	height: 75px;
	margin: 1em;
	border-radius: 10px;
}

.card:hover {
	background: linear-gradient(to bottom left, blue, white);
	transform: scale(1.1);
	transition: .5s ease;
}

@media screen and (min-width: 412px) {
  

}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  
}