body {
	margin: 0;
background: linear-gradient(to bottom right, #06D6A0 , #F8FFE5);
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

header h1 {
	text-align: center;
	align-self: center;
	font-family: 'Varela Round', sans-serif;
}

header h3 {
	margin: 0;
}

header .moves {
	display: flex;
	justify-content: space-between;
	padding: 0 3em;
	margin: 0;
}

.card-container {
	padding: 1em;
}

.card-container .row {
	display: flex;
	flex-direction: flex-start;
	flex-wrap: nowrap;
	flex: 1 1 350px;
	justify-content: center;
}

.card {
	background-color: #06D6A0;
	border: 2px solid #1B9AAA;
	min-width: 48px;
	min-height: 48px;
	margin: 1em;
	border-radius: 10px;
}

.card:hover {
	background-color: #1B9AAA;
	border: 2px solid #FFC43D;
	transition: .5s ease;
}

@media screen and (min-width: 412px) {
  

}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  
}